/*  Copy/paste

font-family: arial, sans-serif;

Grey text:
#5f6368

*/

/* Global
======================== */

html {
    font-family: arial, sans-serif;
    min-width: 1250px;
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

.circle {
    object-fit: cover;
}

.right-align * {
    margin-right: 20px;
}

.left-align * {
    margin-left: 20px;
}

/* Header
======================== */
#top-left,
#top-right {
    margin-top: 14px;
}

#top-left {
    float: left;
}

#top-right {
    float: right;
}

#btn-apps {
    display: inline-block;
    border:none;
    background:none;
    background-image: url("../images/apps.png");
    background-size: 30px;
    width: 30px;
    height:30px;
    vertical-align: middle;
}

#btn-apps:hover {
    cursor: pointer;
    background-image: url("../images/apps-hover.png");    
}

.pfp-container {
    cursor: pointer;
    display: inline-block;
}

#top-right img {
    
    width: 32px;
    /* object-fit: cover; */
    border-radius: 50%;
    vertical-align: middle;
}

/* Center
======================== */

#center{
    text-align:center;
}

/* Footer
======================== */